* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --fundo-card: #ffffff;

    --texto: #1e293b;
    --texto-secundario: #64748b;
    --texto-inverso: #ffffff;

    --destaque: #2563eb;
    --destaque-contraste: #e2e8f0;
    --destaque-hover: #89acf7;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto-inverso);
    padding: 10px; 
    display: flex;
    justify-content: flex-end;
    align-content: center;  
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav#menu a {
    text-decoration: none;
    color: var(--texto-hover);
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;  
}

nav#menu a:hover {
    background-color: var(--destaque-hover);
    color: var(--destaque);
    transition: background-color 0.3s, color 0.3s;
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 15px;
}

section#ficha {
    background-color: var(--fundo-card);
    padding: 25px;
    border-radius: 10px;
}

section#ficha img.foto {
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

section#ficha h1 {
    color: var(--destaque);
    font-size: 2.2em;
    margin: 10px 0;
    text-align: left;
}

div#social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
    font-size: 1.7em;
}

div#social a {
    color: var(--destaque);
    transition: color 0.4s;
}

div#social a:hover {
    color: var(--destaque-hover);
}