* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --fundo-card: #ffffff;

    --texto: #1e293b;
    --texto-secundario: #64748b;
    --texto-inverso: #ffffff;

    --destaque: #2563eb;
    --destaque-secundario: #e2e8f0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto-inverso);
    padding: 10px; 
    display: flex;
    justify-content: flex-end;
    align-content: center;  
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;  
}

nav#menu a:hover {
    background-color: var(--destaque-secundario);
    color: var(--destaque);
    transition: background-color 0.3s, color 0.3s;
}